form input{
    margin-bottom: 20px;
    padding: 5px;
    width: 100% ;
    height: 30px;
    font-size: 16px;
    border: 1px solid gainsboro;
    border-radius: 10px;
    background-color: rgba(253, 252, 240, 0.69);
}

.submit{
    background-color: rgb(25, 113, 255);
    color: white;
    margin-top: -30px;
    width: 40%;
   height: 40px;
}
.submit:hover {
    text-decoration: underline;
}